body {
	
	height: 100vh;	
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: poppins;
	background: rgb(255, 255, 255);
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(everton-vila-AsahNlC0VhQ-unsplash.jpg); 
	overflow: hidden;
}
.container {
	
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(everton-vila-AsahNlC0VhQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 2%;
    padding-right:2%;
    text-align: center;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    height: 50px;
    align-items: center;
}

.logo {
    width: 80px;
    cursor: pointer;
    padding-right: 50px;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0 0 15px #120097, 0 0 15px #080ba2; 
    
}
nav{
    flex: 1;
    text-align: right;
    margin-left: 40px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    text-transform: uppercase;
    text-shadow: 0 0 15px #120097, 0 0 15px #080ba2; 
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: bold;
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: #0d00ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}
.wrapper, .single-card {
	height: 450px;
	max-width: 300px;
	/* margin-top	: 600px; */
	margin: 0 auto;
	margin-top: 100px;
	position: relative;
}
.wrapper {
	perspective: 900px;
}
.single-card {
	text-align: center;
	transition: all 1.5s cubic-bezier(0.7, -0.5, 0.3, 1.8);
	transform-style: preserve-3d;
}
.wrapper:hover .single-card {
	transform: rotateY(180deg);
}
.front, .back {
	width: 300px;
	position: relative;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.front {
    
	cursor: pointer;
	height: 100%;
	background-image:  url(aa163ac6726ed9907c20f9443902910a.jpg);
	-webkit-backface-visibility: hidden;
	/* padding-top: 10px; */
	backface-visibility: hidden;
	border-radius: 50px;
	background-size: 260px;
	background-position: center;
}
.back {
	transform: rotateY(180deg);
	position: absolute;
	border-radius: 50px;
	height: 450px;
	background: #cdc2fa;
	font-weight: bold;
	font-family: Arial, Helvetica,;
}
.content {
	padding-top: 25%;
}
.content h2 {
    color: rgb(52, 96, 255);
	font-size: 35px;
	margin: 0;
	font-weight: 300;
}
.content h4 {
	margin: 0;
}
P{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    /* text-shadow: 0 0 7px #000000, 0 0 7px #c509bf;  */
}
.socials {
	margin-top: 20%;
}
.socials i {
	font-size: 30px;
	margin: 0 10px;
}
